<section class="contacts">
    <div class="container">
        <h2 class="section-title double-line">КОНТАКТЫ</h2>
        <div class="row">
            <div class="contacts__img col-lg-6">
                <img src="assets/img/contacts-image.png"  alt="contacts-image">
            </div>
            <div class="contacts__feedback col-lg-6">
                <div class="contacts__feedback-stand">
                    <h4 class="contacts__feedback-form__title">Обратная связь</h4>
                    <div class="contacts__feedback-form">
                        <div class="row ">
                            <input type="name" class="form-control form-name" id="exampleFormControlInput1" placeholder="Ваше имя">
                            <input type="email" class="form-control form-email" id="exampleFormControlInput1" placeholder="E-mail">
                        </div>
                        
                        <textarea type="txtComment" class="form-control form-txt" id="exampleFormControlTextarea1" placeholder="Комментарий" rows="3"></textarea>
                        <button type="button-send" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
                <div class="contacts__feedback__social-btns">
                    <button type="button" class=" btn-social btn-discord" data-bs-toggle="modal" data-bs-target="#discord" ></button>
                    <button type="button" class=" btn-social btn-telegram" data-bs-toggle="modal" data-bs-target="#telegram"  ></button>

                </div>

                

            </div>
        </div>
    </div>

</section>