<section class="first-screen">
    <div class="container">
        <h1 class="first-screen__title">ЧИТЫ НА P<i></i>UBG
            ЛУЧШИЕ НА РЫНКЕ
            БЕЗ БАНА!
        </h1>
        <div class="first-screen__separator"></div>
        <div class="first-screen__description">
            <p>Лучшие сборки на рынке, проверенные опытом и временем, а также,
                оптимальное соотношение цены, надежности и производительности
            </p>
            <p>
                Самая низкая цена мегахеш
            </p>

            <div class="btn-row">
                <a href="" class="btn btn-primary">Купить<span><img src="assets/img/icon_big_right.svg" alt="icon_big_right"></span></a>
                <a href="" class="btn btn-success"> Посмотреть видео</a>
            </div>
            
        </div>
        
    </div>
</div>    
</section>