<section class="first-screen">
    <div class="conteiner">
        <h1 class="first-screen__title">ЧИТЫ НА P<i></i>
            ЛУЧШИЕ НА РЫНКЕ
            БЕЗ БАНА!
        </h1>
        
        <div class="description">
            <p>Лучшие сборки на рынке, проверенные опытом и временем, а также,
                оптимальное соотношение цены, надежности и производительности
            </p>
            <p>
                Самая низкая цена мегахеш
            </p>
            
        </div>
    </div>
</section>