<section class="functional" >
    <div class="container">
        <div class="row">
            <div class="col-lg-5">

            </div>
            <div class="col-lg-5">
                <h2 class="section-title after-before-lines">ФУНКЦИОНАЛ</h2>
                <div class="functional__descriptional">
                    Уникальный чит на iOS подойдет для всех устройств
                    начиная от айфона 4S+. 
                </div>
                <ul class="functional-list" >
                    <li><b>WallHack </b>- обнаруживает противников сквозь стены</li>
                    <li><b>AntiRecoil </b>- отключает отдачу на любом оружие.</li>
                    <li><b>Aimbot </b>- автоматически наводит прицел на противника.</li>
                    <li><b>Drop </b>- показывает топовые вещи сквозь стены</li>
                </ul>
                <div class="functional__allert">
                    <img src="" alt="">
                    <p>Рекомендуем, оставить стандартные параметры в чите</p>
                </div>
                <div class="functional__btns">
                    <a href="#" class="btn btn-primary">Купить<span><img src="assets/img/icon_big_right.svg" alt="icon_big_right"></span></a>
                <a href="#" class="btn btn-secondary">Посмотреть видео<span><img src="assets/img/icon-play.svg" alt="icon_play"></span></a>
                </div>

            </div>
        </div>


    </div>




</section>