<section class="functional" >
    <div class="container">
        <div class="row">
            <div class=" functional__carousel col-lg-6">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/img/device-functionals-iphone.png" class="d-block w-100" alt="device-functionals-iphone">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/img/device-functionals-iphone.png" class="d-block w-100" alt="device-functionals-iphone">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/img/device-functionals-iphone.png" class="d-block w-100" alt="device-functionals-iphone">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-lg-6">
                <h2 class="section-title after-before-lines">ФУНКЦИОНАЛ</h2>
                <div class="functional__descriptional">
                    Уникальный чит на iOS подойдет для всех устройств
                    начиная от айфона 4S+. 
                </div>
                <ul class="functional-list" >
                    <li class="view" ><b>WallHack </b>- обнаруживает противников сквозь стены</li>
                    <li class="view" ><b>AntiRecoil </b>- отключает отдачу на любом оружие.</li>
                    <li class="view" ><b>Aimbot </b>- автоматически наводит прицел на противника.</li>
                    <li class="view" ><b>Drop </b>- показывает топовые вещи сквозь стены</li>
                </ul>
                <div class="functional__allert"><span><img src="assets/img/allert-icon.svg" alt="allert-icon"></span> Рекомендуем, оставить стандартные параметры в чите</div>
                <div class="functional__btns">
                    <a href="#" class="btn btn-primary">Купить<span><img src="assets/img/icon_big_right.svg" alt="icon_big_right"></span></a>
                <a href="#" class="btn btn-secondary">Посмотреть видео<span><img src="assets/img/icon-play.svg" alt="icon_play"></span></a>
                </div>

            </div>
        </div>


    </div>




</section>