<section class="testimonials">
    <div class="testimonials__border-top">
        <img src="assets/img/testimonials-border-top.svg" class="img-fluid" alt="testimonials-border-top">
    </div> 
    <div class="container">
        <h2 class="section-title text-white double-line" >ЧТО ГОВОРЯТ О НАС</h2>

        <div class="slider-testimonials ">
            <div>
                <div class="testimonials-photo">
                    <img src="assets/img/test-cat.jpeg" class="img-fluid" alt="" >
                </div>
                <div class="testimonials-name">Егор Черняев <i class="name-icon"></i></div>
                <div class="testimonials-text">
                    Рекомендую данный софт! Аналогов не нашел нигде, я решил не 
                    заморачиваться и сразу приобрел ПРО версию и 
                    теперь играю в свое удовольствие.
                </div>
            </div>
            <div>
                <div class="testimonials-photo">
                    <img src="assets/img/test-cat.jpeg" class="img-fluid" alt="" >
                </div>
                <div class="testimonials-name">Егор Черняев <i class="name-icon"></i></div>
                <div class="testimonials-text">
                    Рекомендую данный софт! Аналогов не нашел нигде, я решил не 
                    заморачиваться и сразу приобрел ПРО версию и 
                    теперь играю в свое удовольствие.
                </div>
            </div>
            <div>
                <div class="testimonials-photo">
                    <img src="assets/img/test-cat.jpeg" class="img-fluid" alt="" >
                </div>
                <div class="testimonials-name">Егор Черняев <i class="name-icon"></i></div>
                <div class="testimonials-text">
                    Рекомендую данный софт! Аналогов не нашел нигде, я решил не 
                    заморачиваться и сразу приобрел ПРО версию и 
                    теперь играю в свое удовольствие.
                </div>
            </div>
          </div>
    </div>
</section>