.first-screen{
    margin-top: -126px;
    padding: 240px 12px;
    background: url(assets/img/first-screen.png) center/cover no-repeat;
    position: relative;
    
    .container{
        z-index: 1;
        position: relative;
    }

    &:before{
        content:"";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: url(assets/img/first-screen__frame-border.png) center bottom/100% no-repeat;
        
    }
   
    &__title{
        max-width: 611px;
        font-weight: 800;
        font-size: 55px;
        line-height: 67px;
        color: #FFFFFF;
        margin-bottom: 28px;
        margin-top: -29px;
        
        &-icon{
            width: 50px;
            height: 50px;
            display: inline-block;
            background: url(assets/img/first-screen__title-icon.svg) center no-repeat;
            margin: 0 2px -9px -2px;
            }
    }   

        
    
    .double-line{
        position: relative;

            &:before{
            content:" ";
            position: absolute;
            height: 24px;
            width: 40px ;
            left: -22px;;
            top: -3px;
            transform: rotate(135deg);
            background: transparent;
            border-top: 8px solid $primary-color;
            border-bottom: 8px solid $primary-color;
            }
    }        
    

    &__separator{
            width: 110px;
            height:5px ;
            background:  linear-gradient(120.79deg, #FFAC8B 31.33%, #FF4900 101.79%);
            
        }

    &__description{
        width: 680px;
        height: 108px;
        margin-bottom: 225px;
    
        p{  
            
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            margin-top: 27px;
            
        }
        
        
    }
    .btn-row{
       
        margin-top: 46px;
        
        
    }
    .btn-primary{
        margin-right: 34px;
        padding: 28.4px 55px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &-img{
        max-width: 892px ;
        max-height: 522px;
        margin: 67px 0 0 24px;
        //position: absolute;
        //right: -235px;
        //top: 75px;
    }
    
}   