.first-screen{
    margin-top: -126px;
    padding: 240px 12px 15px 12px;
    background: url(assets/img/first-screen.png) center/cover no-repeat;
    //position: relative;
    
    .container{
        z-index: 1;
        position: relative;
    }

    &__title{
        max-width: 611px;
        font-weight: 800;
        font-size: 55px;
        line-height: 67px;
        color: #FFFFFF;
        margin-bottom: 28px;
        margin-top: -29px;
        width: fit-content;
        
        &-icon{
            width: 50px;
            height: 50px;
            display: inline-block;
            background: url(assets/img/first-screen__title-icon.svg) center no-repeat;
            margin: 0 2px -9px -2px;
            }
    }   
    &__separator{
            width: 110px;
            height:5px ;
            background:  linear-gradient(120.79deg, #FFAC8B 31.33%, #FF4900 101.79%);
            
        }

    &__description{
        width: 680px;
        height: 108px;
        
    
        p{  
            
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            margin-top: 27px;
            
        }

        
        
        
    }
    .btn-row{
       
        margin-top: 46px;
        
        
    }
    .btn-primary{
        margin-right: 34px;
        padding: 28.4px 55px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &-img{
        max-width: 892px ;
        max-height: 522px;
        margin: 67px 0 0 24px;
        //position: absolute;
        //right: -235px;
        //top: 75px;
    }
    
    &__frame-bottom{
        width: 2354px;
        height: 193px;
        top: 15px;
        margin-left: -12px;
        position: relative;
        z-index: 0;

        img{
            width: 100%;
        }

        &::after{
            content:"";
            position: absolute;
            left: 50px;
            bottom: 35px;
            height: 261px;
            width: 812px;
            background: url(assets/img/first-screen-bottom-img.png) center no-repeat;

            }
    }
}   