.tariffs{
    padding: 73px 0 134px;
    .section-title{
        margin-bottom: 64px;
    }

    .nav-tabs {
        justify-content: center;
        margin-bottom: 60px;
        border: none;
    }

    .nav-link{
        display: flex;
        align-items: center;
        margin: 0 16px;
        padding: 16.5px 30px;
        color: #AAAAAA;
        background: #FFFFFF;
        box-shadow: 0px 15px 25px #00000008;
        border-radius: 5px;
        border: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        
        

        &.active{
            color: #FFFFFF;
            background: linear-gradient(82.58deg, #0AA6FE 37.16%, #05FFFF 163.86%);
            box-shadow: 0px 15px 25px rgba(0, 163, 255, 0.3);

            .nav-link__icon {
                filter: brightness(0) invert(1);
            }
        }

        &__icon{
            margin-right: 16px;
            

        }
    }


    .tariff-item{
        background-color: #FFFFFF;

        &__category{
            box-shadow: 0px 20px 35px #0000000d;
            border-radius: 5px 55px 0px;
            padding: 23px 12px;
            text-align: center;
            font-weight: 600;
            font-size: 21px;
            line-height: 26px;
            color: #FFFFFF;
            margin-bottom: 36px;

        }

        &__atrr{
            display: grid;
            padding: 0 50px;
            h2{
                text-align: center;
                margin-bottom: 32px;
            }
            ul{
                margin-bottom: 31px;
                li{
                    margin-bottom: 26px;
                    &::before{
                        top: 0;
                        left: -4px;
                        height: 18px;
                        width: 23px;
                        background-color : transparent;
                        background-image: url(assets/img/check-mark-icon.svg)  ;
                        transform: rotate(0deg);
                    }

                    &.cross{
                        &::before{
                            width: 18px;
                            height: 18px;
                            background-image: url(assets/img/cross-icon.svg) ;
                        }
                        
                    }
                }
            }
            &-price{
                width: fit-content;
                
                font-weight: 600;
                font-size: 45px;
                line-height: 55px;
                color: $section-text-color;
                position: relative;
                margin:0 auto 18px auto;

                &::after{
                    position: absolute;
                    content: "₴";
                    left: 100px;
                    bottom: 20px;
                    font-weight: 500;
                    font-size: 35px;
                    line-height: 43px;
                }
                
                &.thousands{
                    &::after{
                        left: 130px;
                    }
                }

            }
        }

        &__link{
            .btn-primary{
                width: 100%;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
                border-radius: 0 0 5px 55px ;
            }
        }

        
    }


    .category-blue{
        background: linear-gradient(103.24deg, #05FFFF -7.39%, #0AA6FE 85.9%);
        
    }

    .category-purple{
        background: linear-gradient(89.46deg, #DDA6FF -5.85%, #D828F4 106.28%);
    }

    .category-red{
        background: linear-gradient(98.51deg, #FF9898 14.64%, #FF1F00 102.27%);
    }
       

    
}