

.section-title{
        font-weight: 800;
        font-size: 45px;
        line-height: 55px;
        color: $section-text-color;
        text-transform: uppercase;
        text-align: center;
        width: fit-content;
        margin: 0 auto;
}

.double-line{
        position: relative;

            &:before{
            content:" ";
            position: absolute;
            height: 24px;
            width: 40px ;
            left: -22px;;
            top: -3px;
            transform: rotate(135deg);
            background: transparent;
            border-top: 8px solid $primary-color;
            border-bottom: 8px solid $primary-color;
            }
}  

.after-before-lines{
        position: relative;
        

        &:before{
            content: "";
            position: absolute;
            top: 2px;
            left: -28px;
            height: 8px;
            width: 40px;
            background-color: $primary-color;
            transform: rotate(-45deg);
            
            
        }

        &::after{
            content: "";
            position: absolute;
            height: 8px;
            width: 40px;
            bottom: 2px;
            right: -28px;
            background-color: $primary-color;
            transform: rotate(-45deg);
            
        }
}        